* {margin: 0; padding: 0; font-family: 'NotoSansKR';}




}
header {
    margin-bottom: 10%;
    padding: 5% 5% 0;
}
header > strong >  a {
    font-size: 40px;
    
}
header > nav {
    float: right;
}
header > nav > button {
    outline: 0;
    border: 1px solid;
    width: 70px;
    height: 70px;
    background-color: transparent;
}
form {
    margin: auto;
    width: 30%;
    padding-bottom: 20%;
}
form > div > div > div {
    display: inline;
    float: right;
}
ul {
    list-style-type: none;
}
.id_pass {
    display: inline-block;
    vertical-align: top;
}
.id_pass > span {
    display: inline-block;
    width: 20px;
}
.joinList {
    padding-bottom: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.joinButton {
    height: 40px;
    width: 27%;
    color: #3493E5;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid;
   
}
label {
    margin-right: 20px;
}
.user {
    height: 80px;
    width: 333px;
}
.agree{
    text-align: center;
    border: 2px solid;
    width: 100%;
    height: 40px;
    padding-top: 15px;
}
.checkbox {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.agree > p {
    display: inline;
}
section > h1 {
    text-align: center;
    padding-bottom: 5%;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    line-height: 70px;
    background-color: black;
    color: lightgray;
}
footer > strong {
    padding-left: 5%;
    font-size: 25px;
}
footer > span {
    padding-left: 5%;
    font-size: 12px;
}

.infomation {
        border: 1px solid #C4C4C4;
        height: 40px;
        box-shadow: none;
        outline: none;
        width: 66%;
        padding-left: 13px;
}
.infomation.pwd  {
    width: 95%;
}
.infomation.pwdCk {
    width: 95%;
}
.infomation.birth {
    width: 95%;
}
.infomation.name {
    width: 95%;
}

.join {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #3493E5, #EC6EAD);
    border-radius: 30px;
    border: 0ch;
    margin: 35px 0 0 0;
    color: white;
}
.infopwd {
    font-size: 11px;
}
.idChk {
    font-size: 11px;
    color: #ff6565;
    padding-top: 10px;
}
#id {
    border:1px solid #ff6565;
}
input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
    transition: background 0.2s;
    background-color: #C4C4C4;
    float: right;
    margin-right: 20px;
  }

  input[type="checkbox"]:checked {
    background: #000000;
    border: none;
  }
  .orderInfo {
      font-size: 11px;
      color: #3493E5;
  }
  .allAgree {
    margin: 0 auto;
  }
  .receive {
    padding: 20px 0 20px 0;
  }
  .userSMS{
    display: flex;
    padding: 20px;
  }
  .detail {
    margin: 0 15px 0 0;
    font-size: 11px;
    color: #C4C4C4;
    font-weight: 900;
  }

  /* ----------- font -------------------- */
  @font-face {
    font-family: 'BMDOHYEON';
    src: url(../font/BMDOHYEON_ttf.woff);
  }

  @font-face {
    font-family: 'themefisher-font';
    src:  url('../font/themefisher-font.eot?ug5hnh');
    src:  url('../font/themefisher-font.eot?ug5hnh#iefix') format('embedded-opentype'),
      url('../font/themefisher-font.ttf?ug5hnh') format('truetype'),
      url('../font/themefisher-font.woff?ug5hnh') format('woff'),
      url('../font/themefisher-font.svg?ug5hnh#themefisher-font') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
      font-family: 'NotoSansKR';
      src: url("../font/NotoSansKR-Medium.otf");
  }

   /* @media */

   @media (max-width: 450px){
       body {
            width: 420px;
       }
       section {
            padding: 10% 0 0 0;
       }
       form{
            width: 85%;
       }
       .user {
            width: 250px;
       }
       .joinButton{
            width: 25%;
       }
   }
